.container {
    height: 300vh;
    position: relative;
    width: 430px;

    .sticky {
        position: sticky;
        overflow: hidden;
        top: 0;
        height: 100vh;

        .el {
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;

            .textOverlay {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80vw;
                height: 38vh;
                display: flex;
                transform: translate(-50%, -50%);
                color: #fff;
                align-items: center;
            justify-content: center;
                font-size: 0.5rem;
                text-align: center;
                // background: rgba(255, 255, 255, 0.5);
                backdrop-filter: blur(4px);
                padding: 0.5rem;
                border-radius: 8px;
                // Ensure it appears on top
            }
            

            // Styling for Picture 1
            &:nth-of-type(1) {
                z-index: 3; // Set Picture 1 on top of the others
                .imageContainer {
                    position: relative;
                    top: 2vh;
                    width: 80%;
                    height: 38vh;
                    left: 0.001rem;
                    // Center horizontally
                }
            }

            // Styling for Picture 2
            &:nth-of-type(2) {
                z-index: 1;
                .imageContainer {
                    position: relative;
                    top: -35vh;
                    left: 20%;
                    width: 80%;
                    height: 32vh;
                    object-fit: cover;
                    
                }
            }

            // Styling for Picture 3
            &:nth-of-type(3) {
                z-index: 2;
                .imageContainer {
                    position: relative;
                    top: -19vh;
                    left: -20%;
                    width: 80%;
                    height: 32vh;
                    object-fit: cover;
                }
            }
        }
    }
}
