.images {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-top: 0vh;

    .imageContainer {
        position: absolute;
        
        img {
            object-fit: contain;
        }
        
        &:nth-of-type(1) {
            height: 15vh;  // Reduced further
            width: 12.5vh;
            z-index: 1;
        }
        
        &:nth-of-type(2) {
            left: 55vw;
            top: 15vh;
            height: 10vh;  // Reduced further
            width: 7.5vh;
            z-index: 2;
        }
        
        &:nth-of-type(3) { // This targets Picture3
            left: 5vw;
            top: 30vh;
            height: 7.5vh;  // Reduced further
            width: 5vh;
            z-index: 3;
        }
    }
}
