.container{
  margin: 0 auto; /* Centers the container horizontally */
  height: 50vh;
  overflow: hidden; /* Prevents overflow from children */
  display: flex;
  flex-direction: column;
  align-items: center;
  .body{
      
      h1{
          color: black;
          margin: 0px;
          margin-top:0px;
          font-size: 5vw;
          line-height: 5vw;
          text-transform: uppercase;
          text-align: center;
      }
      p{
          color: black;
          margin: 0px;
          margin-top: 10px;
          font-size: 3vw;
          text-transform: uppercase;
          text-align: center;
          span{
              position: relative;
          }
      }
  }
  .images {
      display: flex;
      width: 100%;
      justify-content: center;
      position: relative;
      margin-top: 0vh;
      
  
      .imageContainer {
        position: absolute;
        img{
            object-fit: cover;
        }
        &:nth-of-type(1){
            top: 2vh;
           left: 4vw;
            height: 50vh;
            width: 100%;
            z-index: 3;
        }
        &:nth-of-type(2){
            top: 12vh;
           
            height: 50vh;
            width:50vh;
            z-index: 2;
        }
        &:nth-of-type(3) { // This targets Picture3
            top: 6vh;
            left: 10vw; // Adjusted left position
            height: 50vh;
            width: 40vh;
              z-index: 1;
          }
      }


  }.textSection {
  margin-top:   0rem; /* Adds space between images and text */
  padding: 5vh 5vw;  /* Optional: Adds side padding for readability */
  text-align: center;
}
  
  
}