@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container{
  margin: 0 auto; /* Centers the container horizontally */
  height: 550px;
  overflow: hidden; /* Prevents overflow from children */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif !important;
  .body{
      h1{
          color: black;
          margin: 0px;
          margin-top:0px;
          font-size: 2rem;
          line-height: 5vw;
          text-transform: uppercase;
          text-align: center;
      }
      p{
          color: black;
          margin: 0px;
          margin-top: 10px;
          font-family: 'Poppins';
          text-transform: uppercase;
          text-align: center;
          span{
              position: relative;
          }
      }
  }
  .images {
      display: flex;
      width: 100%;
      justify-content: center;
      position: relative;
      
      
  
      .imageContainer {
        position: absolute;
        filter: drop-shadow(4px 4px 10px rgba(61, 56, 10, 0.25));
        img{
            object-fit: cover;
        }
        &:nth-of-type(1){
            top: 20px;
        //    left: 4vw;
            height: 500px;
            width: 100%;
            z-index: 3;
        }
        &:nth-of-type(2){
            top: 120px;
           
            height: 500px;
            width:500px;
            z-index: 2;
        }
        &:nth-of-type(3) { // This targets Picture3
            top: 60px;
            // left: 10vw; // Adjusted left position
            height: 500px;
            width: 400px;
              z-index: 1;
          }
      }


  }.textSection {
  margin-top:   0rem; /* Adds space between images and text */
  padding: 50px;  /* Optional: Adds side padding for readability */
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
  
  
}