* {
  
  
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
  --black: #111111;
  --white: #fdfdfd;
  --green: #22cc88;
  --blue: #0455fd;
  --purple: #8855ff;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;
  --grey: #808080;

 
  --accent: var(--white);

  margin: 0;
  padding: 0;

  color: var(--accent);
  
}

.App {
  text-align: center;
  /* height: 700vh; */
  width:430px;
  height: auto;
}



h1 {
  font-size: 2rem;
  margin-top: ;
  
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
  border-radius: 1ex;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}
