.outletContainer {
    padding: 3rem;
    text-align: center;
  }
  
  .countup {
    font-size: 3rem;
    font-family: Impact, sans-serif;
  }
  
  .heading {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  